@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모바일 뷰 */
@media (max-width: 767px) {
  body {
    background-color: lightblue;
  }
  main {
    margin: 10px 10px;
  }
  header {
    justify-content: center;
    padding: 5px;
    border-bottom: 2px solid #d3d3d3;
  }
}

/* 태블릿 뷰 */
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }

  main {
    margin: 20px 20px;
  }

  header {
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #d3d3d3;
  }
}

/* 데스크톱 뷰 */
@media (min-width: 1200px) {
  body {
    background-color: lightcoral;
  }
  main {
    margin: 30px 300px;
  }

  header {
    justify-content: space-between;
    padding: 10px 20px 10px 300px;
    border-bottom: 2px solid #d3d3d3;
  }
}

/* 모바일 뷰 */
@media (max-width: 767px) {
  .mobile-logo {
    display: block;
  }

  .desktop-logo {
    display: none;
  }
}

/* 태블릿 및 데스크톱 뷰 */
@media (min-width: 640px) {
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }
}
